.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 190px 0 140px;

  background-color: #f7f7f7;
  @media (max-width: 748px) {
    padding-top: 120px;
    padding-bottom: 25px;
  }
  @media (max-width: 378px) {
  }
}

.promo__title {
  position: relative;

  margin-bottom: 35px;

  &::before {
    @include pseduo-el(52px, 43px);
    top: -43px - 34px;
    left: 50%;

    background: url("../../../images/lab.png") no-repeat center;

    transform: translate(-50%);
  }
}

.promo__text {
}
