.about-me {
  background-color: white;
}

.about-me__flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 235px;
}

.about-me__column {
  flex: 0 1 50%;

  &--right {
    padding-left: 50px;
  }
}

.about-me__image-container {
  position: relative;

  width: 375/585 * 100%;
  margin-left: auto;

  padding-bottom: 465/585 * 100%;
}

.about-me__work-img {
  top: -105/465 * 100%;
  left: -210/375 * 100%;
}

.about-me__decorative-item {
  position: absolute;
  top: (311+95)/465 * 100%;
  left: (-183-13)/375 * 100%;

  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 100%;
  letter-spacing: 1.6px;

  transform: rotate(-90deg);
  transform-origin: 0 0;
  @media (max-width: 992px) {
    font-size: 50%;
  }

  @media (max-width: 767px) {
    font-size: 25%;
  }

  &::after {
    display: inline-block;
    width: 45px;
    height: 1px;
    margin-left: 10px;

    vertical-align: middle;

    border-bottom: 1px solid black;

    content: "";
  }
}

.about-me__my-img {
  top: 0;
  right: 0;
  z-index: 1;
}

.about-me__title {
}

.about-me__details {
  margin-right: 35px;
}

.about-me__progress-bar {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: darken($color: $lightbg, $amount: 5);

  &::before {
    position: absolute;
    top: -3px;
    left: -5px;
    z-index: 5;

    width: 10px;
    height: 10px;

    background-color: $darkbg;
    border-radius: 50%;

    content: "";
  }

  &::after {
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: $darkbg;

    content: "";
  }

  &:nth-of-type(3)::after {
    width: 65%;
  }

  &:nth-of-type(5)::after {
    width: 50%;
  }
}

.about-me__progress-text-wrapper {
}

.about-me__progress-text {
}

.about-me__progress-value {
}
