@mixin reset-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin pseduo-el($width, $height) {
  position: absolute;

  width: $width;
  height: $height;

  content: "";
}
@mixin border {
  border: 1px solid red;
}
