@mixin reset-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin border {
  border: 1px solid red;
}

@mixin psedo-absolute($width, $height) {
  position: absolute;
  top: 0;

  width: $width;
  height: $height;

  content: "";
}
