@import "../mixins";
@import "../variables";

.table {
  width: 1px;
  table-layout: fixed;
  border-collapse: collapse;


}



.table__column {
  width: $default-cell-width;
  padding: 5px 10px;
  overflow-x: hidden;
  white-space: nowrap;
  text-align: center;
  overflow-wrap: break-word;
  border: 1px solid $border-color;

  &--header {
    background-color: $default-info-cell-color;
    border-top: hidden;
  }

  &--info {
    background-color: $default-info-cell-color;
  }

  br {
    display: none;
  }
}


.table__row {
  &--info{

  }

}
