@import "../mixins";
@import "../variables";

.table {
  width: 1px;
  table-layout: fixed;
  border-collapse: collapse;
}

.table__column {
  position: relative;
  width: $default-cell-width;
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
  border: 1px solid $border-color;

  outline:none;

  &--selected{
    box-shadow: 0 0 0 3px $button-color;
    border-radius: 10px;

  }


  &--header {
    position: relative;
    background-color: $default-info-cell-color;
    border-top: hidden;
  }

  &--header:first-child {
    width: 50px;
  }

  &--header:last-child .table__resize-el {
    display: none;
  }

  &--info {
    position: relative;
    background-color: $default-info-cell-color;
  }

}

.table__resize-el {
  position: absolute;
  z-index: 20;
  background-color: $button-color;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  &--col {
    top: 0;
    right: -3px;
    bottom: 0;
    width: 3px;

    &:hover {
      cursor: col-resize;
    }

    &:active {
      height: 100vw;
      opacity: 1;
    }
  }

  &--row {
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;

    &:hover {
      cursor: row-resize;
    }

    &:active {
      width: 100vw;
      opacity: 1;
    }
  }
}
