.main-footer {
  background-color: #f7f7f7;
}

.main-footer__flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
  margin: 0;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.main-footer__address {
  color: #848789;
  font-size: 14px;
  line-height: 17.87px;

  span {
    display: block;

    &:nth-child(1) {
      font-weight: 700;
      font-size: 16px;
    }

    &:nth-child(2) {
      font-style: italic;
    }
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}

.main-footer__socials {
  @include reset-menu;
  display: flex;
}

.main__footer-copyright {
  margin: 0;
}

.main-footer__copyright-link {
  display: inline-block;

  vertical-align: middle;

  img {
    max-width: 100%;
  }
}
