.header {
  background-color: blue;
}

.header__bp {
  width: 100px;
  height: 100px;

  background-color: blue;
}

.header-top {
  color: red;
}

.header__treep {
  color: blue;
}

.header_newone {
  color: green;
}
