.header {
  padding: 20px 0;

  color: #06a9b3;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  background-color: #f2f8fb;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 210px 1fr;
  gap: 0 20px;
  align-items: center;
}

.header__nav {
  gap: 25px 63px;
  justify-self: start;

  &--user {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-self: end;
  }
}

.header__search {
  display: flex;
  align-items: center;

  border: unset;
}

.header__input {
  position: relative;
  left: 100%;

  border: unset;
  opacity: 0;

  transition: all 0.5s ease-in-out;

  &--active {
    left: -5%;

    border: initial;
    opacity: 1;
  }
}

.header__label {
  position: relative;
  left: 100%;

  width: 16px;
  height: 16px;

  background: url("../../img/icons/search.svg") no-repeat center;

  cursor: pointer;
}

.header__logo {
  align-self: start;
  justify-self: center;
}
