// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$facebook-name: "facebook";
$facebook-x: 0;
$facebook-y: 0;
$facebook-offset-x: 0;
$facebook-offset-y: 0;
$facebook-width: 35px;
$facebook-height: 35px;
$facebook-total-width: 140px;
$facebook-total-height: 140px;
$facebook-image: "sprite.webp";
$facebook: (0, 0, 0, 0, 35px, 35px, 140px, 140px, "sprite.webp", "facebook");
$groupme-name: "groupme";
$groupme-x: 35px;
$groupme-y: 0;
$groupme-offset-x: -35px;
$groupme-offset-y: 0;
$groupme-width: 35px;
$groupme-height: 35px;
$groupme-total-width: 140px;
$groupme-total-height: 140px;
$groupme-image: "sprite.webp";
$groupme: (
  35px,
  0,
  -35px,
  0,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "groupme"
);
$instagram-name: "instagram";
$instagram-x: 0;
$instagram-y: 35px;
$instagram-offset-x: 0;
$instagram-offset-y: -35px;
$instagram-width: 35px;
$instagram-height: 35px;
$instagram-total-width: 140px;
$instagram-total-height: 140px;
$instagram-image: "sprite.webp";
$instagram: (
  0,
  35px,
  0,
  -35px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "instagram"
);
$itunes-name: "itunes";
$itunes-x: 35px;
$itunes-y: 35px;
$itunes-offset-x: -35px;
$itunes-offset-y: -35px;
$itunes-width: 35px;
$itunes-height: 35px;
$itunes-total-width: 140px;
$itunes-total-height: 140px;
$itunes-image: "sprite.webp";
$itunes: (
  35px,
  35px,
  -35px,
  -35px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "itunes"
);
$kik-name: "kik";
$kik-x: 70px;
$kik-y: 0;
$kik-offset-x: -70px;
$kik-offset-y: 0;
$kik-width: 35px;
$kik-height: 35px;
$kik-total-width: 140px;
$kik-total-height: 140px;
$kik-image: "sprite.webp";
$kik: (70px, 0, -70px, 0, 35px, 35px, 140px, 140px, "sprite.webp", "kik");
$linkedin-name: "linkedin";
$linkedin-x: 70px;
$linkedin-y: 35px;
$linkedin-offset-x: -70px;
$linkedin-offset-y: -35px;
$linkedin-width: 35px;
$linkedin-height: 35px;
$linkedin-total-width: 140px;
$linkedin-total-height: 140px;
$linkedin-image: "sprite.webp";
$linkedin: (
  70px,
  35px,
  -70px,
  -35px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "linkedin"
);
$messenger-name: "messenger";
$messenger-x: 0;
$messenger-y: 70px;
$messenger-offset-x: 0;
$messenger-offset-y: -70px;
$messenger-width: 35px;
$messenger-height: 35px;
$messenger-total-width: 140px;
$messenger-total-height: 140px;
$messenger-image: "sprite.webp";
$messenger: (
  0,
  70px,
  0,
  -70px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "messenger"
);
$periscope-name: "periscope";
$periscope-x: 35px;
$periscope-y: 70px;
$periscope-offset-x: -35px;
$periscope-offset-y: -70px;
$periscope-width: 35px;
$periscope-height: 35px;
$periscope-total-width: 140px;
$periscope-total-height: 140px;
$periscope-image: "sprite.webp";
$periscope: (
  35px,
  70px,
  -35px,
  -70px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "periscope"
);
$skype-name: "skype";
$skype-x: 70px;
$skype-y: 70px;
$skype-offset-x: -70px;
$skype-offset-y: -70px;
$skype-width: 35px;
$skype-height: 35px;
$skype-total-width: 140px;
$skype-total-height: 140px;
$skype-image: "sprite.webp";
$skype: (
  70px,
  70px,
  -70px,
  -70px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "skype"
);
$snapchat-name: "snapchat";
$snapchat-x: 105px;
$snapchat-y: 0;
$snapchat-offset-x: -105px;
$snapchat-offset-y: 0;
$snapchat-width: 35px;
$snapchat-height: 35px;
$snapchat-total-width: 140px;
$snapchat-total-height: 140px;
$snapchat-image: "sprite.webp";
$snapchat: (
  105px,
  0,
  -105px,
  0,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "snapchat"
);
$tiktok-name: "tiktok";
$tiktok-x: 105px;
$tiktok-y: 35px;
$tiktok-offset-x: -105px;
$tiktok-offset-y: -35px;
$tiktok-width: 35px;
$tiktok-height: 35px;
$tiktok-total-width: 140px;
$tiktok-total-height: 140px;
$tiktok-image: "sprite.webp";
$tiktok: (
  105px,
  35px,
  -105px,
  -35px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "tiktok"
);
$twitter-name: "twitter";
$twitter-x: 105px;
$twitter-y: 70px;
$twitter-offset-x: -105px;
$twitter-offset-y: -70px;
$twitter-width: 35px;
$twitter-height: 35px;
$twitter-total-width: 140px;
$twitter-total-height: 140px;
$twitter-image: "sprite.webp";
$twitter: (
  105px,
  70px,
  -105px,
  -70px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "twitter"
);
$whatsapp-name: "whatsapp";
$whatsapp-x: 0;
$whatsapp-y: 105px;
$whatsapp-offset-x: 0;
$whatsapp-offset-y: -105px;
$whatsapp-width: 35px;
$whatsapp-height: 35px;
$whatsapp-total-width: 140px;
$whatsapp-total-height: 140px;
$whatsapp-image: "sprite.webp";
$whatsapp: (
  0,
  105px,
  0,
  -105px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "whatsapp"
);
$youtube-name: "youtube";
$youtube-x: 35px;
$youtube-y: 105px;
$youtube-offset-x: -35px;
$youtube-offset-y: -105px;
$youtube-width: 35px;
$youtube-height: 35px;
$youtube-total-width: 140px;
$youtube-total-height: 140px;
$youtube-image: "sprite.webp";
$youtube: (
  35px,
  105px,
  -35px,
  -105px,
  35px,
  35px,
  140px,
  140px,
  "sprite.webp",
  "youtube"
);
$spritesheet-width: 140px;
$spritesheet-height: 140px;
$spritesheet-image: "sprite.webp";
$spritesheet-sprites: (
  $facebook,
  $groupme,
  $instagram,
  $itunes,
  $kik,
  $linkedin,
  $messenger,
  $periscope,
  $skype,
  $snapchat,
  $tiktok,
  $twitter,
  $whatsapp,
  $youtube
);
$spritesheet: (140px, 140px, "sprite.webp", $spritesheet-sprites);

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);

    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
