.socials {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 25px 73px;
  justify-content: start;
}

.socials__link {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .socials__icon {
    width: 44px;
    height: 44px;

    fill: #cfdce3;

    &:hover {
      fill: #06a9b3;
    }
  }

  &--instagram {
  }

  &--facebook {
  }

  &--vk {
  }
}
