@import "normalize.css";
@import "./reuseables/mixins";
@import "./reuseables/variables";
@import "./reuseables/blocks/utils";
@import "./reuseables/blocks/positioning";
@import "./reuseables/blocks/image";
@import "./reuseables/blocks/title";
@import "./blocks/header/header";
@import "./blocks/about-me/about-me";

a {
  color: $darkbg;
  text-decoration: none;
}

body,
html {
  height: 100vh;
}

body {
  max-width: 1910px;
  margin: 0;
  padding: 0;

  color: $darkbg;

  font-weight: 400;
  font-size: 16px;

  font-family: "Roboto";
  line-height: 24px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
