@import "normalize.css";
@import "./reuseables/mixins";
@import "./reuseables/variables";
@import "./reuseables/blocks/utils";
@import "./reuseables/blocks/positioning";
@import "./reuseables/blocks/content";
@import "./reuseables/blocks/page";
@import "./reuseables/blocks/image";
@import "./reuseables/blocks/title";
@import "./blocks/header/header";
@import "./blocks/footer/footer";
@import "./blocks/about-me/about-me";
@import "./blocks/my-services/my-services";

* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

:focus {
  outline-offset: 5px;
}

body {
}

a {
  color: $darkbg;
  text-decoration: none;
}
